.container {
  width: 1200px;
  min-height: 1300px;
  display: flex;
}

.theme-light {
  background: var(--bg-theme-light);
  --color: var(--color-theme-light);
  --color-link: var(--color-link-theme-light);
}

.theme-dark {
  background: var(--bg-theme-dark);
  --color: var(--color-theme-dark);
  --color-link: var(--color-link-theme-dark);
}



.sidebar {
  width: 25%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}

.main-container {
  width: 75%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
}

.main {
  flex: 1 1 auto;
}

.footer {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lightgreen);
}
